body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#header {
    padding: 20px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

#contentContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: calc(100vh - 160px);
}

#mainImage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainImage img {
    width: 45%;
    height: auto;
    object-fit: cover;
}

#mainContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#icon img {
    max-width: 100px;
   margin-bottom: 20px;
}

#showFormButton {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fbcfe8;
    border: none;
    box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.1);;
}

#bookForm {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

#addBookButton {
    padding: 10px;
}

#bookShelf {
    width: 25%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 10px;
    background-color: #f472b6;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#bookShelf h2 {
    text-align: center;
}

#suggestionsContainer {
    width: 100%;
    margin-top: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

#suggestionsContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

#suggestions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}